pipeline/pl_Execute_Pipeline.json
{
	"name": "pl_Execute_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ingest_files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "File Import Tracker - Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[fpssinfosec].[file_import_tracker_log]",
					"storedProcedureParameters": {
						"data_factory_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"import_error_message": {
							"value": {
								"value": "@activity('Execute Pipeline1').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"import_method": {
							"value": "DataBricks",
							"type": "String"
						},
						"job_end_datetime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"job_start_datetime": {
							"value": {
								"value": "@convertTimeZone(pipeline().TriggerTime,'UTC','Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_group_id": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_id": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_type": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_triggered_by_pipeline_name": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_triggered_by_pipeline_run_id": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"result": {
							"value": "FAILED",
							"type": "String"
						},
						"result_id": {
							"value": "0",
							"type": "Int32"
						},
						"row_count": {
							"value": null,
							"type": "String"
						},
						"source_file_description": {
							"value": null
						},
						"source_file_name": {
							"value": null
						},
						"destination_folder_path": {
							"value": null
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_Synapse_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File Import Tracker - Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[fpssinfosec].[file_import_tracker_log]",
					"storedProcedureParameters": {
						"data_factory_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"import_error_message": {
							"value": null,
							"type": "String"
						},
						"import_method": {
							"value": "DataBricks",
							"type": "String"
						},
						"job_end_datetime": {
							"value": {
								"value": "@convertTimeZone(utcnow(),'UTC','Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"job_start_datetime": {
							"value": {
								"value": "@convertTimeZone(pipeline().TriggerTime,'UTC','Eastern Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_group_id": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_id": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_type": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_triggered_by_pipeline_name": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_triggered_by_pipeline_run_id": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"result": {
							"value": "SUCCESS",
							"type": "String"
						},
						"result_id": {
							"value": "1",
							"type": "Int32"
						},
						"row_count": {
							"value": null,
							"type": "String"
						},
						"source_file_description": {
							"value": null
						},
						"source_file_name": {
							"value": null
						},
						"destination_folder_path": {
							"value": null
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_Synapse_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Error Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "File Import Tracker - Failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://logicfpsspgcomprod01.azurewebsites.net:443/api/adf_email_team_notification/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZhoMhG6UGBcbczdYwcii1DyjkgfcKhTa3MSKq-3vwLg",
					"method": "POST",
					"body": {
						"value": "{\n\t\"title\": \"PIPELINE RUN FAILED\",\n\t\"message\": \"@{activity('Execute Pipeline1').error.message}\"\n\t\"color\": \"Red\",\n\t\"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"pipelineName\": \"@{pipeline().Pipeline}\",\n\t\"pipelineRunId\": \"@{pipeline().RunId}\",\n\t\"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Success Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "File Import Tracker - Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://logicfpsspgcomprod01.azurewebsites.net:443/api/adf_email_team_notification/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZhoMhG6UGBcbczdYwcii1DyjkgfcKhTa3MSKq-3vwLg",
					"method": "POST",
					"body": {
						"value": "{\n\t\"title\": \"PIPELINE RUN PASSED\",\n\t\"message\": \"Pipeline Passed\"\n\t\"color\": \"Red\",\n\t\"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"pipelineName\": \"@{pipeline().Pipeline}\",\n\t\"pipelineRunId\": \"@{pipeline().RunId}\",\n\t\"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "HTTP"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-02T15:46:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}