pipeline/pl_load_source_control_table.json
{
	"name": "pl_load_source_control_table",
	"properties": {
		"activities": [
			{
				"name": "Load Source Table",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "control//Ingestion_Records.xlsx"
					},
					{
						"name": "Destination",
						"value": "fpssdev.source_control"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "Truncate TABLE fpssdev.source_control",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "controltable_id",
									"type": "String"
								},
								"sink": {
									"name": "controltable_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "project_id",
									"type": "String"
								},
								"sink": {
									"name": "project_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "project_name",
									"type": "String"
								},
								"sink": {
									"name": "project_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "filename",
									"type": "String"
								},
								"sink": {
									"name": "filename",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "skip_rows",
									"type": "String"
								},
								"sink": {
									"name": "skip_rows",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "storage_account",
									"type": "String"
								},
								"sink": {
									"name": "storage_account",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_container",
									"type": "String"
								},
								"sink": {
									"name": "source_container",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_directory",
									"type": "String"
								},
								"sink": {
									"name": "source_directory",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_filetype",
									"type": "String"
								},
								"sink": {
									"name": "source_filetype",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_dbo",
									"type": "String"
								},
								"sink": {
									"name": "source_dbo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sourcefile_location",
									"type": "String"
								},
								"sink": {
									"name": "sourcefile_location",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_schema",
									"type": "String"
								},
								"sink": {
									"name": "source_schema",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "url",
									"type": "String"
								},
								"sink": {
									"name": "url",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "env",
									"type": "String"
								},
								"sink": {
									"name": "env",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "base_url",
									"type": "String"
								},
								"sink": {
									"name": "base_url",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "relative_url",
									"type": "String"
								},
								"sink": {
									"name": "relative_url",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_table",
									"type": "String"
								},
								"sink": {
									"name": "source_table",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_dbo",
									"type": "String"
								},
								"sink": {
									"name": "target_dbo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_schema",
									"type": "String"
								},
								"sink": {
									"name": "target_schema",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_table",
									"type": "String"
								},
								"sink": {
									"name": "target_table",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_container",
									"type": "String"
								},
								"sink": {
									"name": "target_container",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_directory",
									"type": "String"
								},
								"sink": {
									"name": "target_directory",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_filename",
									"type": "String"
								},
								"sink": {
									"name": "target_filename",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "target_filetype",
									"type": "String"
								},
								"sink": {
									"name": "target_filetype",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "date_added",
									"type": "String"
								},
								"sink": {
									"name": "date_added",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "String"
								},
								"sink": {
									"name": "date_modified",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_source_control_xls",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_synapse_source_control_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Load Source Table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://logicfpsspgcomprod01.azurewebsites.net:443/api/adf_email_team_notification/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZhoMhG6UGBcbczdYwcii1DyjkgfcKhTa3MSKq-3vwLg",
					"method": "POST",
					"body": {
						"value": "{\n\t\"title\": \"PIPELINE RUN FAILED\",\n\t\"message\": \"activity('Load Source Table').error.message\",\n\t\"color\": \"Red\",\n\t\"dataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"pipelineName\": \"@{pipeline().Pipeline}\",\n\t\"pipelineRunId\": \"@{pipeline().RunId}\",\n\t\"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "HTTP"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-02T15:46:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}