pipeline/PL_RateMyExperience_Pipeline_Prod.json
{
	"name": "PL_RateMyExperience_Pipeline_Prod",
	"properties": {
		"activities": [
			{
				"name": "ACT_LKP_Get_Table_Info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_RateMyExperience_Info",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_Variable_Execution_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select 'dbo' as db_schema,\nname as db_table,\nlower(replace(replace(name,'-', '_'),' ','')) as blob_table,\nCONCAT(lower(replace(replace(name,'-', '_'),' ','')), '/',\nCAST(YEAR(GETUTCDATE()) as Char(4)), '/',\n CASE WHEN LEN(Month(GETUTCDATE())) < 2 THEN CONCAT('0', Month(GETUTCDATE())) ELSE CAST(Month(GETUTCDATE()) AS CHAR(2)) END, '/',\nCASE WHEN LEN(Day(GETUTCDATE())) < 2 THEN CONCAT('0', Day(GETUTCDATE())) ELSE CAST(Day(GETUTCDATE()) AS CHAR(2)) END, '/',\nCASE WHEN LEN(Datepart(HOUR, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(HOUR, GETUTCDATE())) ELSE CAST(Datepart(HOUR, GETUTCDATE()) AS CHAR(2)) END, '/',\nCASE WHEN LEN(Datepart(Minute, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(Minute, GETUTCDATE())) ELSE CAST(Datepart(Minute, GETUTCDATE()) AS CHAR(2)) END) AS folder,\nCONCAT(\n\t\tCAST(YEAR(GETUTCDATE()) as Char(4)), CASE WHEN LEN(Month(GETUTCDATE())) < 2 THEN CONCAT('0', Month(GETUTCDATE())) ELSE CAST(Month(GETUTCDATE()) AS CHAR(2)) END, \n\t\tCASE WHEN LEN(Day(GETUTCDATE())) < 2 THEN CONCAT('0', Day(GETUTCDATE())) ELSE CAST(Day(GETUTCDATE()) AS CHAR(2)) END) AS land_folder_date,\nCONCAT(CASE WHEN LEN(Datepart(HOUR, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(HOUR, GETUTCDATE())) ELSE CAST(Datepart(HOUR, GETUTCDATE()) AS CHAR(2)) END, '/',\nCASE WHEN LEN(Datepart(Minute, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(Minute, GETUTCDATE())) ELSE CAST(Datepart(Minute, GETUTCDATE()) AS CHAR(2)) END) as land_folder_hour,\nCONCAT(lower(replace(replace(name,'-', '_'),' ','')), '_',\nCAST(YEAR(GETUTCDATE()) as Char(4)), \nCASE WHEN LEN(Month(GETUTCDATE())) < 2 THEN CONCAT('0', Month(GETUTCDATE())) ELSE CAST(Month(GETUTCDATE()) AS CHAR(2)) END, \nCASE WHEN LEN(Day(GETUTCDATE())) < 2 THEN CONCAT('0', Day(GETUTCDATE())) ELSE CAST(Day(GETUTCDATE()) AS CHAR(2)) END, \nCASE WHEN LEN(Datepart(HOUR, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(HOUR, GETUTCDATE())) ELSE CAST(Datepart(HOUR, GETUTCDATE()) AS CHAR(2)) END, \nCASE WHEN LEN(Datepart(Minute, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(Minute, GETUTCDATE())) ELSE CAST(Datepart(Minute, GETUTCDATE()) AS CHAR(2)) END,\nCASE WHEN LEN(Datepart(SECOND, GETUTCDATE())) < 2 THEN CONCAT('0', Datepart(SECOND, GETUTCDATE())) ELSE CAST(Datepart(SECOND, GETUTCDATE()) AS CHAR(2)) END, '.parquet') AS filenametype\n from sys.tables WHERE name NOT IN ('Table_2')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSrvr_SPPO_Mini_Apps",
						"type": "DatasetReference",
						"parameters": {
							"schema": "xxx",
							"table": "xxx",
							"database": "rateexperience",
							"username": {
								"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.username",
								"type": "Expression"
							},
							"password": {
								"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.key_vault_password",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_LKP_Get_RateMyExperience_Info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_Execution_Run_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "WITH table_names\nAS (\n\tSELECT '-' AS table_name\n\t\t, 'sqlserver' AS source_type\n\t\t, 'nps/rate_my_experience' AS storage_folder\n\t\t, 'DLake_Extract' AS username\n\t\t, 'rate-your-experience-pass' AS key_vault_password\n\t\t, 'prod' AS load_type\n\t\t, 'nps/rate_my_experience/processing' AS processing_folder\n\t)\nselect \ntable_name,\nsource_type,\nstorage_folder,\nusername,\nkey_vault_password,\nload_type,\nprocessing_folder\nfrom table_names",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_synapse_control_source",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ACT_ForEach_Copy_Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_Table_Info_Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LKP_Get_Table_Info_Filter').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_Copy_Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_LKP_Start_Time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLSrvr_SPPO_Mini_Apps",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().db_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().db_table",
											"type": "Expression"
										},
										"database": "RateExperience",
										"username": {
											"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.username",
											"type": "Expression"
										},
										"password": {
											"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.key_vault_password",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_NPS_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat(activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.storage_folder,'/',item().folder)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ACT_SP_Update_Information_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_Copy_Data_Processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[dev_usp_execution_log_insert_detail]",
								"storedProcedureParameters": {
									"current_change_tracking": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"database_name": {
										"value": {
											"value": "RateMyExperience",
											"type": "Expression"
										},
										"type": "String"
									},
									"land_folder_date": {
										"value": {
											"value": "@item().land_folder_date",
											"type": "Expression"
										},
										"type": "String"
									},
									"land_folder_hour": {
										"value": {
											"value": "@item().land_folder_hour",
											"type": "Expression"
										},
										"type": "String"
									},
									"is_finished": {
										"value": "1",
										"type": "Byte"
									},
									"is_successful": {
										"value": "1",
										"type": "Byte"
									},
									"parent_execution_id": {
										"value": {
											"value": "@variables('vExecutionID')",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@activity('ACT_LKP_Start_Time').output.firstRow.start_date",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().db_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_schema_name": {
										"value": {
											"value": "@item().db_schema",
											"type": "Expression"
										},
										"type": "String"
									},
									"row_count": {
										"value": {
											"value": "@activity('ACT_Copy_Data').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"copy_duration_sec": {
										"value": {
											"value": "@activity('ACT_Copy_Data').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"failure_stage": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Synapse_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_SP_Update_Information_Failure_DB",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_Copy_Data_Processing",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[dev_usp_execution_log_insert_detail]",
								"storedProcedureParameters": {
									"current_change_tracking": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"database_name": {
										"value": {
											"value": "RateMyExperience",
											"type": "Expression"
										},
										"type": "String"
									},
									"land_folder_date": {
										"value": {
											"value": "@item().land_folder_date",
											"type": "Expression"
										},
										"type": "String"
									},
									"land_folder_hour": {
										"value": {
											"value": "@item().land_folder_hour",
											"type": "Expression"
										},
										"type": "String"
									},
									"is_finished": {
										"value": "1",
										"type": "Byte"
									},
									"is_successful": {
										"value": "0",
										"type": "Byte"
									},
									"parent_execution_id": {
										"value": {
											"value": "@variables('vExecutionID')",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@activity('ACT_LKP_Start_Time').output.firstRow.start_date",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().db_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_schema_name": {
										"value": {
											"value": "@item().db_schema",
											"type": "Expression"
										},
										"type": "String"
									},
									"row_count": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"copy_duration_sec": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"failure_stage": {
										"value": "adf_copy",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Synapse_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_LKP_Start_Time",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "SELECT GETUTCDATE() AS start_date",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_synapse_control_source",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "ACT_Copy_Data_Processing",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_Copy_Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQLSrvr_SPPO_Mini_Apps",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().db_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().db_table",
											"type": "Expression"
										},
										"database": "RateExperience",
										"username": {
											"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.username",
											"type": "Expression"
										},
										"password": {
											"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.key_vault_password",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_NPS_Parquet_Filename",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@activity('ACT_LKP_Get_RateMyExperience_Info').output.firstRow.processing_folder",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().filenametype",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_SP_Update_Execution_Run_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_ForEach_Copy_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[dev_usp_execution_log_update]",
					"storedProcedureParameters": {
						"parent_execution_id": {
							"value": {
								"value": "@variables('vExecutionID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_schema_name": {
							"value": {
								"value": "RateMyExperience",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_name": {
							"value": "RateMyExperience",
							"type": "String"
						},
						"database_name": {
							"value": "Parent",
							"type": "String"
						},
						"land_folder_date": {
							"value": null,
							"type": "String"
						},
						"land_folder_hour": {
							"value": null,
							"type": "String"
						},
						"current_change_tracking": {
							"value": "0",
							"type": "String"
						},
						"is_successful": {
							"value": "1",
							"type": "String"
						},
						"is_finished": {
							"value": "1",
							"type": "String"
						},
						"row_count": {
							"value": null,
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_Synapse_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_SP_Update_Execution_Run_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_ForEach_Copy_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[dev_usp_execution_log_update]",
					"storedProcedureParameters": {
						"parent_execution_id": {
							"value": {
								"value": "@variables('vExecutionID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_schema_name": {
							"value": {
								"value": "RateMyExperience",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_name": {
							"value": "RateMyExperience",
							"type": "String"
						},
						"database_name": {
							"value": "Parent",
							"type": "String"
						},
						"land_folder_date": {
							"value": null,
							"type": "String"
						},
						"land_folder_hour": {
							"value": null,
							"type": "String"
						},
						"current_change_tracking": {
							"value": "0",
							"type": "String"
						},
						"is_successful": {
							"value": "0",
							"type": "String"
						},
						"is_finished": {
							"value": "1",
							"type": "String"
						},
						"row_count": {
							"value": null,
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_Synapse_dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_LKP_Get_Execution_Run_ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[adf].[dev_usp_execution_log_insert]",
						"storedProcedureParameters": {
							"current_change_tracking": {
								"type": "String",
								"value": "0"
							},
							"database_name": {
								"type": "String",
								"value": {
									"value": "RateMyExperience",
									"type": "Expression"
								}
							},
							"land_folder_date": {
								"type": "String",
								"value": null
							},
							"land_folder_hour": {
								"type": "String",
								"value": null
							},
							"is_finished": {
								"type": "Byte[]",
								"value": "0"
							},
							"is_successful": {
								"type": "Byte[]",
								"value": "0"
							},
							"parent_execution_id": {
								"type": "String",
								"value": null
							},
							"table_name": {
								"type": "String",
								"value": {
									"value": "RateMyExperience",
									"type": "Expression"
								}
							},
							"table_schema_name": {
								"type": "String",
								"value": {
									"value": "RateMyExperience",
									"type": "Expression"
								}
							},
							"row_count": {
								"type": "Int64",
								"value": null
							},
							"copy_duration_sec": {
								"type": "Int64",
								"value": null
							},
							"failure_stage": {
								"type": "String",
								"value": null
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_synapse_control_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_Variable_Execution_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_Execution_Run_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vExecutionID",
					"value": {
						"value": "@activity('ACT_LKP_Get_Execution_Run_ID').output.firstRow.etl_execution_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ADB_NPS_Transformation_Success",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ACT_SP_Update_Execution_Run_Success",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/NPS/nps_rme_transformation"
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_processing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ADB_NPS_Transformation_Failure",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ACT_SP_Update_Execution_Run_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/NPS/nps_rme_transformation"
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_processing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_Execute_ASDW_Metadata_Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ADB_NPS_Transformation_Success",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_NPS_Load_RME_Prod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchID": {
							"value": "@variables('vExecutionID')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_Execute_ASDW_Metadata_Failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ADB_NPS_Transformation_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_NPS_Load_RME_Prod",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchID": {
							"value": "@variables('vExecutionID')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ACT_LKP_Get_Table_Info_Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_Table_Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LKP_Get_Table_Info').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(equals(item().db_table,'migrations'),\n    or(equals(item().db_table,'error_logs'),\n    or(equals(item().db_table,'audit_logs'),\n    or(equals(item().db_table,'white_list'),\n    or(equals(item().db_table,'service_lines'),\n    or(equals(item().db_table,'experiences'),\n    or(equals(item().db_table,'ratings'),\n    equals(item().db_table,'access_logs'))))))))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varname": {
				"type": "String"
			},
			"vExecutionID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "NPS/RateMyExperience"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-31T08:30:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}